/* Import Font Keren */
body {
    font-family: 'Poppins', sans-serif;
    color: 333;
    overflow-x: hidden; 
}

:root {
    --primary-color: #0d6efd; 
}

.navbar {
    background-color: #ffffff;
    transition: all 0.3s;
}

.nav-link {
    font-weight: 500;
    color: #484747 !important;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

/* Hero Section  */
.hero-section {
    min-height: 100vh;
    padding-top: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('bootstrap1.jpg');
    background-size: cover;
    background-position: center;
    color: white; 
}

.profile-img {
    width: 300px; /* Ukuran foto profil */
    height: 300px;
    object-fit: cover;
    border: 5px solid white; 
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px); /* Efek naik */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.project-card img {
    height: 200px;
    object-fit: cover;
}

section h3 {
    position: relative;
    display: inline-block;
}

section h3::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: var(--primary-color);
    margin: 10px auto 0;
    border-radius: 2px;
}

html {
    scroll-behavior: smooth;
}